<ion-header>
  <ion-toolbar>
    <ion-title>Rest Of The World</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-virtual-scroll [items]="results" >
          <ion-card *virtualItem="let item" >
            <ion-card-header>
              <ion-card-title>
                Country: {{ item.country }}  {{item.flag}}
              </ion-card-title>
              <ion-card-subtitle>Last Update: {{ item.lastUpdate | date:'short' }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p><ion-text color="warning">Confirmed: {{ item.confirmed}}</ion-text></p>
              <p><ion-text color="danger">Deaths: {{ item.deaths }}</ion-text></p>
              <p><ion-text color="success">Recovered: {{ item.recovered }}</ion-text></p>
            </ion-card-content>
           </ion-card>
        </ion-virtual-scroll>
      </ion-col>

      <ion-col text-center *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
