<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="kenya">
        <ion-label>Kenya</ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="africa">
        <ion-label>Africa</ion-label>
        <ion-icon name="card"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="rest-of-world">
        <ion-label>Rest of the World</ion-label>
        <ion-icon name="alarm"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
