
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="kenya">
        <ion-label>Kenya</ion-label>
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <!-- <ion-tab-button tab="africa">
        <ion-label>Africa</ion-label>
        <ion-icon name="people-outline"></ion-icon>
      </ion-tab-button> -->

      <ion-tab-button tab="rest-of-world">
        <ion-label>Rest of the World</ion-label>
        <ion-icon name="globe-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
